<div class="container-fluid m-0">
  <div class="row p-0">
    <!-- <div class="co-md-12 p-0">
      <div class="card card-default">
        <div class="card-header">Herd Inventory
          <ul>
            <li>example1</li>
            <li>example1</li>
          </ul>
        </div>
        
        </div>
    </div> -->
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark p-0">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Customer Infomation</a>
  
    <!-- Links -->
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/example2" routerLinkActive="active">Customer</a>
      </li>
  
      
    </ul>
  </nav>
</div>
</div>
<router-outlet></router-outlet>
